{% extends "layout.html" %}

{% block content %}
     <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Sentiment</h1>
          <p class="lead text-black">
            <h3><b>Abhishek and Avi </b></h3>
            <p>
          Machine Learning and Data Science enthusiast, Android Developer, programmer and always willing to learn and work across new technologies and domains.</p></p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="static/images/1.png" alt="Card image cap" style="height: 250px;">
                <div class="card-body">
                  <p class="card-text">Sentiment analysis refers to the use of natural language processing, text analysis, computational linguistics, and biometrics to systematically identify, extract, quantify, and study affective states and subjective information.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/nlpsentiment">
                        <button type="button" class="btn btn-sm btn btn-success">Sentiment Analysis</button>
                      </a>
                    </div>
   
                  </div>
                </div>
              </div>
            </div>
           

{%  endblock %}
   